.react-calendar {
  width: 400px;

  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 0.8rem;
}
.react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
 color: #d10000;
} */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
}

.booking-input-wrapper {
  width: 100%;
  margin-top: 1rem;
  z-index: 4;
  position: fixed;
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  align-items: center;
}
.form {
  width: 100%;
}
.booking-input-wrapper .booking-input-container {
  transition: all 0.5s ease-out;
  width: max-content;
  background-color: white;
  display: grid;
  grid-template-columns: 400px;
  padding: 1rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.form .booking-input-form {
  width: 100%;
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
}
.form .input-box > label {
  width: 100%;
}
.form .input-box {
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.form .input-box > input {
  width: 100%;
  padding: 0.5rem 0.2rem;

  border-radius: 5px;
}
.booking-input-form .sub-btn {
  width: 100%;
  min-height: 2.7rem;
  max-height: 2.7rem;
  background: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  font-size: 0.9rem;
}
.date {
  width: 100%;
  display: block;
  padding-top: 0.5rem;
  text-align: center;
  font-size: 1.1rem;
  padding-bottom: 0rem;
}
.next1 .booking-input-container {
  display: none;
  transition: all 0.5s ease-out;
}
.next1 {
  display: none;
}

@media (max-width: 1110px) {
  .booking-input-wrapper {
    margin-top: 4.3rem;
  }
}
@media (max-width: 550px) {
  .booking-input-wrapper .booking-input-container {
    grid-template-columns: 300px;
  }
}
